<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
  <main class="d-flex flex-column mx-auto w-100 max-w-400px p-4 mt-4">
    <div class="d-flex align-items-end rounded bg-success p-3 mb-3">
      <div class="d-flex align-items-center text-white">
        <i aria-hidden="true" class="fas fa-coins fa-3x pr-3"></i>
        <p class="h1 mb-0">CusBot</p>
      </div>
    </div>
    <form action="/auth/signup" method="post" class="space-y-3"> 
      <div class="d-flex flex-column bg-light rounded p-4 gap-3">
        <h1 class="mb-3 h2">Create Your Account Today</h1>
        <%- include('partials/formErrors') %> 
        <div class="form-group">
          <label for="email" class="form-label">
            <i class="fas fa-envelope me-2"></i>Email
          </label>
          <input 
            id="email"
            name="email" 
            type="email" 
            class="form-control" 
            placeholder="Email" 
            value="<%= user?.email || '' %>" 
            required />
        </div>
        <div class="form-group">
          <label for="password" class="form-label">
            <i class="fas fa-key me-2"></i>Password
          </label>
          <input 
            id="password"
            name="password" 
            type="password" 
            class="form-control" 
            placeholder="Password" 
            value="<%= user?.password || '' %>" 
            required />
        </div>
        <div class="form-group">
          <label for="repeatPassword" class="form-label">
            <i class="fas fa-key me-2"></i>Repeat Password
          </label>
          <input 
            id="repeatPassword"
            name="repeatPassword" 
            type="password" 
            class="form-control" 
            placeholder="Repeat Password" 
            value="<%= user?.repeatPassword || '' %>" 
            required />
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100">
        Sign up
        <i aria-hidden="true" class="fas fa-arrow-right ms-auto"></i>
      </button>
    </form>
    <span>
      Already have an account? <a href='/auth/login' class="link-primary text-decoration-none">Log in</a> 
    </span>
  </main>


  <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
</body>
</html>